# Reflector configuration file for the systemd service.
#
# Empty lines and lines beginning with "#" are ignored.  All other lines should
# contain valid reflector command-line arguments. The lines are parsed with
# Python's shlex modules so standard shell syntax should work. All arguments are
# collected into a single argument list.
#
# See "reflector --help" for details.

# Recommended Options

# Set the output path where the mirrorlist will be saved (--save).
--save {{ reflector_save }}

# Select the transfer protocol (--protocol).
{% if reflector_protocol %}
--protocol {{ reflector_protocol | join(",") }}
{% else %}
# --protocol https
{% endif %}

# Select the country (--country).
# Consult the list of available countries with "reflector --list-countries" and
# select the countries nearest to you or the ones that you trust. For example:
{% if reflector_country %}
--country {{ reflector_country | join(",") }}
{% else %}
# --country France,Germany
{% endif %}

# Use only the  most recently synchronized mirrors (--latest).
{% if reflector_latest %}
--latest {{ reflector_latest }}
{% else %}
# --latest 20
{% endif %}

# Sort the mirrors by synchronization time (--sort).
{% if reflector_sort %}
--sort {{ reflector_sort }}
{% else %}
# --sort rate
{% endif %}

# Limit the number of mirrors.
{% if reflector_number %}
--number {{ reflector_number }}
{% else %}
# --number 10
{% endif %}
